/* RESET */
/* line 9, ../sass/style.scss */
body {
  font-size: 16px;
  background-color: #424242;
}

/* line 13, ../sass/style.scss */
h1 {
  margin: 0;
}

/* line 16, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 19, ../sass/style.scss */
ul {
  padding: 0;
}

/* line 22, ../sass/style.scss */
li {
  list-style: none;
}

/* GENERAL STYLE */
/* line 27, ../sass/style.scss */
body {
  display: flex;
}

/* line 31, ../sass/style.scss */
.wrapper {
  flex: 4 0 0;
  padding: 1em;
  background-color: #FFF;
}

/* line 37, ../sass/style.scss */
.hidden {
  display: none;
}

/* line 43, ../sass/style.scss */
.selected a:before {
  content: "> ";
}

/* line 48, ../sass/style.scss */
.selected a, .sidebar button, .settings a, .sidebar [class*="__item"],
.sidebar [class*="__item"] a, .settings__username {
  color: #FFF;
}

/* line 54, ../sass/style.scss */
.folder__item,
.feed-all__item a, .settings {
  padding: 0 1.2em;
}

/* line 57, ../sass/style.scss */
.sidebar button, .settings a {
  padding: 0 0.1em;
  background-color: #515151;
  border: 0.3em solid #686868;
}

/* line 63, ../sass/style.scss */
.folder__item a, .feed__item a {
  display: inline-block;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

/* SIDEBAR */
/* line 72, ../sass/style.scss */
.sidebar {
  flex: 1 0 0;
  font-size: 0.8em;
  white-space: nowrap;
}
/* line 77, ../sass/style.scss */
.sidebar [class*="__item"] {
  position: relative;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
}
/* line 88, ../sass/style.scss */
.sidebar [class*="__item"]:hover, .sidebar [class*="__item"]:active {
  background-color: #303030;
}
/* line 97, ../sass/style.scss */
.sidebar .settings__fields {
  padding: 20%;
}

/* line 103, ../sass/style.scss */
.folder {
  border-bottom: 0.2em solid #484848;
}

/* line 106, ../sass/style.scss */
.folder__item a {
  margin: 0 0.3em;
}

/* line 110, ../sass/style.scss */
.folder__button {
  width: 1.5em;
}

/* line 114, ../sass/style.scss */
.folder__item,
.feed-all__item a {
  font-weight: bold;
}

/* line 118, ../sass/style.scss */
.feed {
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.5);
}

/* line 121, ../sass/style.scss */
.feed__item a {
  margin: 0 0 0 1.4em;
}

/* line 126, ../sass/style.scss */
.mark-as-read {
  position: absolute;
  right: 0.5em;
  font-size: 0.8em;
}

/* ARTICLE */
/* line 133, ../sass/style.scss */
.article__title {
  font-size: 1em;
}

/* line 137, ../sass/style.scss */
.article__content {
  display: none;
  height: 50em;
}
/* line 142, ../sass/style.scss */
.article__content a:hover,
.article__content a:active {
  text-decoration: underline;
}
/* line 146, ../sass/style.scss */
.article__content iframe {
  width: 100%;
  height: 692px;
}

/* USER SETTINGS */
/* line 153, ../sass/style.scss */
.settings {
  margin: 1em auto;
  color: #CACACA;
  text-align: center;
  line-height: 1.6em;
  white-space: normal;
}
/* line 161, ../sass/style.scss */
.settings a {
  margin: 0 0.5em;
  padding: 0.2em;
}
/* line 167, ../sass/style.scss */
.settings a:hover, .settings a:active {
  background-color: #303030;
}

/* line 172, ../sass/style.scss */
.settings__fields input {
  display: block;
  margin: 0 auto;
  min-width: 7em;
  width: 95%;
  color: #303030;
}

/* line 179, ../sass/style.scss */
.settings__username {
  font-weight: bold;
}
