/* RESET */
/* line 11, ../sass/style.scss */
body {
  font-size: 16px;
  background-color: #424242;
}

/* line 15, ../sass/style.scss */
h1 {
  margin: 0;
}

/* line 18, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 21, ../sass/style.scss */
ul {
  padding: 0;
}

/* line 24, ../sass/style.scss */
li {
  list-style: none;
}

/* line 27, ../sass/style.scss */
img {
  max-width: 100%;
  height: auto;
}

/* GENERAL STYLE */
/* line 33, ../sass/style.scss */
body {
  display: flex;
}
@media (max-width: 650px) {
  /* line 33, ../sass/style.scss */
  body {
    display: block;
  }
}

/* line 41, ../sass/style.scss */
.wrapper {
  flex: 4 0 0;
  margin: 0.5em 0;
  background-color: #FFF;
}
@media (max-width: 650px) {
  /* line 41, ../sass/style.scss */
  .wrapper {
    margin-bottom: 0px;
  }
}

/* line 54, ../sass/style.scss */
.hidden {
  display: none;
}

/* line 57, ../sass/style.scss */
.selected a {
  font-weight: bold;
}
/* line 61, ../sass/style.scss */
.selected a:before {
  content: "> ";
}

/* line 66, ../sass/style.scss */
.infinite-scroll, .infinite-scroll--end {
  position: fixed;
  left: 20%;
  right: 0;
  top: 0;
  padding: 1em 0.5em;
  background-color: rgba(66, 66, 66, 0.9);
}
@media (max-width: 650px) {
  /* line 66, ../sass/style.scss */
  .infinite-scroll, .infinite-scroll--end {
    left: 0;
  }
}

/* line 79, ../sass/style.scss */
.infinite-scroll--end {
  position: static;
  background-color: #424242;
}

/* line 85, ../sass/style.scss */
.selected a, .infinite-scroll, .infinite-scroll--end, .sidebar button, .settings a, .sidebar [class*="__item"],
.sidebar [class*="__item"] a, .settings__username {
  color: #FFF;
}

/* line 91, ../sass/style.scss */
.folder__item,
.feed-all__item a, .settings {
  padding: 0 1.2em;
}

/* line 94, ../sass/style.scss */
.sidebar button, .settings a {
  padding: 0 0.1em;
  background-color: #424242;
  border: 0.3em solid #686868;
}

/* line 100, ../sass/style.scss */
.folder__item a, .feed__item a {
  display: inline-block;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

/* FEED */
/* line 109, ../sass/style.scss */
.feed__entry {
  position: relative;
  padding: 0.5em;
  border-bottom: 0.1em solid #D9D9D9;
}
/* line 114, ../sass/style.scss */
.feed__entry:not(.feed__entry--focus):hover {
  background-color: #dddddd;
}
/* line 118, ../sass/style.scss */
.feed__entry a {
  color: #424242;
}

/* line 123, ../sass/style.scss */
.feed__event--read, [class$="event--read"] .article__title a, [class$="event--read"] .article__description {
  color: #BBB;
}

/* SIDEBAR */
/* line 128, ../sass/style.scss */
.sidebar {
  flex: 1 0 0;
  font-size: 0.8em;
  white-space: nowrap;
}
/* line 133, ../sass/style.scss */
.sidebar [class*="__item"] {
  position: relative;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
}
/* line 144, ../sass/style.scss */
.sidebar [class*="__item"]:hover, .sidebar [class*="__item"]:active {
  background-color: #303030;
}
/* line 153, ../sass/style.scss */
.sidebar .settings__fields {
  padding: 20%;
}

/* line 159, ../sass/style.scss */
.folder {
  border-bottom: 0.2em solid #484848;
}

/* line 162, ../sass/style.scss */
.folder__item a {
  margin: 0 0.3em;
}

/* line 166, ../sass/style.scss */
.folder__button {
  width: 1.5em;
}

/* line 173, ../sass/style.scss */
.feed {
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.5);
}

/* line 176, ../sass/style.scss */
.feed__item a {
  margin: 0 0 0 1.4em;
}

/* line 180, ../sass/style.scss */
.feed__item img, .article__header img {
  margin-right: 0.3em;
  vertical-align: middle;
}

/* line 185, ../sass/style.scss */
.mark-as-read {
  position: absolute;
  right: 0.5em;
  font-size: 0.8em;
}

/* ARTICLE */
/* line 192, ../sass/style.scss */
.article__header {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
/* line 198, ../sass/style.scss */
.feed__entry--focus .article__header {
  padding-bottom: 0.6em;
}
@media (max-width: 650px) {
  /* line 192, ../sass/style.scss */
  .article__header {
    white-space: inherit;
  }
}
@media (max-width: 650px) {
  /* line 206, ../sass/style.scss */
  .article__header img {
    margin-top: 0.15em;
    vertical-align: top;
  }
}
/* line 215, ../sass/style.scss */
.article__header .article__feed-title {
  display: inline-block;
  width: 10%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
@media (max-width: 650px) {
  /* line 215, ../sass/style.scss */
  .article__header .article__feed-title {
    display: none;
  }
}

/* line 227, ../sass/style.scss */
.article__title {
  display: inline;
  font-size: 1em;
}
@media (max-width: 650px) {
  /* line 227, ../sass/style.scss */
  .article__title {
    display: inline-block;
    width: 75%;
  }
}

/* line 240, ../sass/style.scss */
.article__description {
  display: inline-block;
  margin-left: 0.4em;
  color: #888;
}
@media (max-width: 650px) {
  /* line 240, ../sass/style.scss */
  .article__description {
    display: none;
  }
}
/* line 252, ../sass/style.scss */
.feed__entry--focus .article__description {
  display: none;
}
/* line 256, ../sass/style.scss */
.article__description:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 16em;
  background-image: -webkit-linear-gradient(to left, #ffffff 6em, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(to left, #ffffff 6em, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(to left, #ffffff 6em, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to left, #ffffff 6em, rgba(255, 255, 255, 0) 100%);
}
/* line 267, ../sass/style.scss */
.feed__entry:hover .article__description:after {
  background-image: -webkit-linear-gradient(to left, #dddddd 6em, rgba(221, 221, 221, 0) 100%);
  background-image: -moz-linear-gradient(to left, #dddddd 6em, rgba(221, 221, 221, 0) 100%);
  background-image: -o-linear-gradient(to left, #dddddd 6em, rgba(221, 221, 221, 0) 100%);
  background-image: linear-gradient(to left, #dddddd 6em, rgba(221, 221, 221, 0) 100%);
}
@media (max-width: 650px) {
  /* line 267, ../sass/style.scss */
  .feed__entry:hover .article__description:after {
    background: none;
  }
}
@media (max-width: 650px) {
  /* line 256, ../sass/style.scss */
  .article__description:after {
    background: none;
  }
}

/* line 281, ../sass/style.scss */
.article__date {
  position: absolute;
  right: 2em;
  color: #424242;
  font-size: 0.9em;
}

/* line 287, ../sass/style.scss */
.article__read-unread {
  position: absolute;
  margin: 0.4em;
  width: 1.2em;
  top: 0;
  right: 0;
  color: white;
  background-color: grey;
  border: none;
  cursor: pointer;
}

/* line 300, ../sass/style.scss */
.article__read-unread--checkbox {
  width: 24px;
  height: 24px;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
/* line 306, ../sass/style.scss */
.article__read-unread--checkbox label {
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  left: 4px;
  top: 4px;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(top, #222222 0%, #45484d 100%);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
/* line 315, ../sass/style.scss */
.article__read-unread--checkbox label:after {
  content: '';
  width: 8px;
  height: 3px;
  position: absolute;
  top: 4px;
  left: 3px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 329, ../sass/style.scss */
.article__read-unread--checkbox label:hover::after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 333, ../sass/style.scss */
.article__read-unread--checkbox input[type=checkbox] {
  visibility: hidden;
}
/* line 335, ../sass/style.scss */
.article__read-unread--checkbox input[type=checkbox]:checked + label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 340, ../sass/style.scss */
.article__content {
  display: none;
  margin: 0 auto;
  width: 42.8125em;
  line-height: 1.625em;
}
@media (max-width: 650px) {
  /* line 340, ../sass/style.scss */
  .article__content {
    width: auto;
  }
}
/* line 351, ../sass/style.scss */
.article__content a:hover,
.article__content a:active {
  text-decoration: underline;
}
/* line 355, ../sass/style.scss */
.article__content--website .article__content {
  width: auto;
  height: 692px;
}
/* line 359, ../sass/style.scss */
.article__content--website .article__content iframe {
  width: 100%;
}

/* line 364, ../sass/style.scss */
.article__content__infos {
  margin: 1em 0;
}
/* line 367, ../sass/style.scss */
.article__content__infos a {
  font-size: 0.9em;
  line-height: 1.2em;
}

/* line 373, ../sass/style.scss */
.article__content__switch-view {
  display: none;
  position: absolute;
  right: 8em;
  top: 0.4em;
}
@media (max-width: 650px) {
  /* line 373, ../sass/style.scss */
  .article__content__switch-view {
    top: 2.4em;
    right: 0.2em;
  }
}
/* line 384, ../sass/style.scss */
.feed__entry--focus .article__content__switch-view {
  display: inherit;
}

/* USER SETTINGS */
/* line 390, ../sass/style.scss */
.settings {
  margin: 1em auto;
  color: #CACACA;
  text-align: center;
  white-space: normal;
}
/* line 397, ../sass/style.scss */
.settings a {
  margin: 0 0.5em;
  padding: 0.2em;
  line-height: 2.6em;
}
/* line 404, ../sass/style.scss */
.settings a:hover, .settings a:active {
  background-color: #303030;
}

/* line 411, ../sass/style.scss */
.settings__fields input[type='text'],
.settings__fields input[type='password'] {
  min-width: 7em;
  width: 95%;
}

/* line 417, ../sass/style.scss */
.settings__fields input[type='text'],
.settings__fields input[type='password'],
.settings__fields input[type='submit'] {
  display: block;
  margin: 0.4em auto;
  padding: 0.5em;
  color: #303030;
}

/* line 423, ../sass/style.scss */
.settings__username {
  font-weight: bold;
}

/* line 427, ../sass/style.scss */
.settings__go-to-events {
  display: none;
}
@media (max-width: 650px) {
  /* line 427, ../sass/style.scss */
  .settings__go-to-events {
    display: inline;
  }
}

/* MEDIA QUERIES */
@media (max-width: 650px) {
  /* line 437, ../sass/style.scss */
  td {
    display: block;
  }
}
