@import "compass/css3";
// VARS
$sidebar-color-bg: #424242;
$sidebar-color-bg-darken: darken( $sidebar-color-bg, 7% );
$sidebar-color-alt: #686868;
$sidebar-button-color: #515151;

/* RESET */
body {
    font-size: 16px;
    background-color: $sidebar-color-bg;
}
h1 {
    margin: 0;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}

/* GENERAL STYLE */
body {
    display: flex;
}

.wrapper {
    flex: 4 0 0;
    padding: 1em;
    background-color: #FFF;
}

.hidden {
    display: none;
}
.selected a {
    @extend %text-color-light;
    
    &:before {
        content: "> ";
    }
}

%text-color-light {
    color: #FFF;
}
%text-color-dark {
    color: #000;
}
%sidebar-padding-side {
    padding: 0 1.2em;
}
%sidebar-button {
    padding: 0 0.1em;
    @extend %text-color-light;
    background-color: $sidebar-button-color;
    border: 0.3em solid $sidebar-color-alt;
}
%overflow-sidebar {
    display: inline-block;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

/* SIDEBAR */
.sidebar {
    flex: 1 0 0;
    font-size: 0.8em;
    white-space: nowrap;
    
    [class$="__item"] {
        position: relative;
        padding-bottom: 0.3em;
        padding-top: 0.3em;
        
        &,
        a {
            @extend %text-color-light;
        }
        
        &:hover,
        &:active {
            background-color: $sidebar-color-bg-darken;
        }
    }
    
    button {
        @extend %sidebar-button;
    }
    
    .settings__fields {
        padding: 20%;
    }

}

.folder {
    border-bottom: 0.2em solid #484848;
}
.folder__item a {
    margin: 0 0.3em;
    @extend %overflow-sidebar;
}
.folder__button {
    width: 1.5em;
}
.folder__item,
.feed-all__item a {
    @extend %sidebar-padding-side;
    font-weight: bold;
}
.feed {
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.5);
}
.feed__item a {
    margin: 0 0 0 1.4em;
    @extend %overflow-sidebar;
}

.mark-as-read {
    position: absolute;
    right: 0.5em;
    font-size: 0.8em;
}

/* ARTICLE */
.article__title {
    font-size: 1em;
}

.article__content {
    display: none;
    height: 50em;
    
    a:hover,
    a:active {
        text-decoration: underline;
    }
    
    iframe {
        width: 100%;
        height: 692px;
    }
}

/* USER SETTINGS */
.settings {
    margin: 1em auto;
    @extend %sidebar-padding-side;
    color: #CACACA;
    text-align: center;
    line-height: 1.6em;
    white-space: normal;
    
    a {
        margin: 0 0.5em;
        padding: 0.2em;
        @extend %sidebar-button;
        
        &:hover,
        &:active {
            background-color: $sidebar-color-bg-darken;
        }
    }
}
.settings__fields input {
    display: block;
    margin: 0 auto;
    min-width: 7em;
    width: 95%;
    color: $sidebar-color-bg-darken;
}
.settings__username {
    @extend %text-color-light;
    font-weight: bold;
}
