@import "compass/css3";
/* RESET */
body {
    font-size: 16px;
    background-color: #A7A7A7;
}
h1 {
    margin: 0;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}

/* GENERAL STYLE */
body {
    display: flex;
}
.sidebar {
    flex: 1 0 0;
}
.wrapper {
    flex: 4 0 0;
    padding: 1em;
    background-color: #FFF;
}

.hidden {
    display: none;
}

/* SIDEBAR */
.folder__item,
.feed_all a {
    margin: 0 1.2em;
}
.feed__item  a {
    margin: 0 3.5em;
}

/* ARTICLE */
.article__title {
    font-size: 1em;
}

.article__content {
    display: none;
    height: 50em;
    
    a:hover,
    a:active {
        text-decoration: underline;
    }
    
    iframe {
        width: 100%;
        height: 692px;
    }
}
