@import "compass/css3";
// VARS
$sidebar-color-bg: #424242;
$sidebar-color-bg-darken: darken( $sidebar-color-bg, 7% );
$sidebar-color-alt: #686868;
$feed-entry-color: $sidebar-color-bg;
$breakpoint: "max-width: 650px";
$feed-bgc-used: #DDD;

@import "normalize";
@import "vendor/flex";

/* RESET */
body {
    font-size: 13px;
    background-color: $sidebar-color-bg;
}
h1 {
    margin: 0;

    @media( $breakpoint ) {
        font-size: 1.3em;
    }
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
img[src$=".svg"] {
  vertical-align: middle;
}

/* GENERAL STYLE */
body {
    @include flexbox;

    @media($breakpoint) {
        display: block;
    }
}

.wrapper {
    @include flex(4 0 0);
    margin: 0.5em 0; 
    background-color: #FFF;

    @media($breakpoint) {
        // Avoid extra margin-bottom when all
        // the content is read and infinite-scroll-end
        // shows up
        margin-bottom: 0px;
    }
}

.hidden {
    display: none;
}
.selected a {
    @extend %text-color-light;
    font-weight: bold;
}

.infinite-scroll {
    padding: 1em 0.5em;
    @extend %text-color-light;
    background-color: rgba($sidebar-color-bg, 0.9);
}
.infinite-scroll--end {
    background-color: $sidebar-color-bg;
    @extend .infinite-scroll;
}

%text-color-light {
    color: #FFF;
}
%text-color-dark {
    color: #000;
}
%sidebar-padding-side {
    padding: 0 0.8em;
}
%sidebar-button {
    @extend %text-color-light;
    background-color: inherit;
    border: none;
}
%overflow-sidebar {
    display: inline-block;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

/* FEED */
.feed__entry {
    position: relative;
    padding: 0.5em;
    border-bottom: 0.1em solid #D9D9D9;

    @media($breakpoint) {
        min-height: 40px;
    }

    &:not(.feed__entry--focus):hover {
        background-color: $feed-bgc-used;
    }

    a {
        color: $feed-entry-color;
    }
}

%feed-event-read {
    color: #BBB;
}

/* SIDEBAR */
$border-base: 5px solid transparent;
$border-color-active: rgba(255, 255, 255, 0.2);

.sidebar {
    @include flex(1 0 0);
    font-size: 0.9em;
    white-space: nowrap;
    
    [class*="__item"] {
        position: relative;
        padding-bottom: 0.3em;
        padding-top: 0.3em;
        border-left: $border-base;
        
        &,
        a {
            @extend %text-color-light;
        }
        
        &:hover,
        &:active {
            background-color: $sidebar-color-bg-darken;
        }

        &.selected {
            border-color: $border-color-active;
        }

    }
    
    button {
        @extend %sidebar-button;
    }
    
    .settings__fields {
        padding: 20%;
    }

}

.sidebar-item {
    @media($breakpoint) {
        padding: 12px 0;
    }
}

.feeds-list-toggle.is-toggled:before {
    display: inline-block;
    margin-right: 2px;
    width: 15px;
    height: 15px;
    content: '';
    background-image: url( '../images/close.svg' );
    vertical-align: middle;
}

#feeds-list {
    @media($breakpoint) {
        display: none;
    }

    &:target {
        display: block;
    }
}

.folder {
    border-bottom: 0.2em solid #484848;
}
.folder__item a {
    margin: 0 0.3em;
    @extend %overflow-sidebar;
}
.folder__button {
    width: 1.5em;
}

.folder-closed img {
    @include transform(rotate(270deg));
}

.folder__item,
.feed-all__item a {
    @extend %sidebar-padding-side;
}
.feed {
    padding: 4px 0;
    background-color: #4b4b4b;
}
.feed__item a {
    margin: 0 0 0 1.4em;
    @extend %overflow-sidebar;
}
.feed__item img, %img-vertical-align {
    margin-right: 0.3em;
    vertical-align: middle;
}

.mark-as-read {
    position: absolute;
    right: 0.5em;
    font-size: 0.8em;
}

/* ARTICLE */
.article__header {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;

    .feed__entry--focus & {
        padding-bottom: 0.6em;
    }

    @media($breakpoint) {
        white-space: inherit;
    }

    img {
        @extend %img-vertical-align;

        @media($breakpoint) {
            margin-top: 0.15em;
            vertical-align: top;
        }
    }

    .article__feed-title {
        display: inline-block;
        width: 10%;
        color: #555;
        font-size: 0.9em;
        overflow-x: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;

        @media($breakpoint) {
            display: none;
        }
    }
}
.article__title {
    display: inline;
    font-size: 1em;

    @media($breakpoint) {
        display: inline-block;
        width: 75%;
    }

    [class~="event--read"] & a {
        @extend %feed-event-read;
    }
}
.article__description {
    display: inline-block;
    margin-left: 0.4em;
    color: #888;
    [class~="event--read"] & {
        @extend %feed-event-read;
    }

    @media($breakpoint) {
        display: none;
    }
    
    .feed__entry--focus & {
        display: none;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 16em;
        $support-for-original-webkit-gradients : false;
        @include background-image(linear-gradient(to left, white 6em, rgba(255, 255, 255, 0) 100%));

        .feed__entry:hover & {
            @include background-image(linear-gradient(to left, $feed-bgc-used 6em, rgba($feed-bgc-used, 0) 100%));

            @media($breakpoint) {
                background: none;
            }

        }

        @media($breakpoint) {
            background: none;
        }
    }
}
.article__date {
    position: absolute;
    right: 2em;
    color: $feed-entry-color;
    font-size: 0.9em;
}
.article__read-unread {
    position: absolute;
    margin: 0.4em;
    width: 1.2em;
    top: 0;
    right: 0;
    color: white;
    background-color: grey;
    border: none;
    cursor: pointer;
}
// Thanks to: http://codepen.io/Twikito/pen/vhyKz
$checkbox-size: 24px;
.article__read-unread--checkbox {
  width: $checkbox-size;
  height: $checkbox-size;
  background: none;

  label {
      width: $checkbox-size - 8;
      height: $checkbox-size - 8;
      cursor: pointer;
      position: absolute;
      left: 4px;
      top: 4px;
      &:after {
          content: '';
          width: 8px;
          height: 3px;
          position: absolute;
          top: 1px;
          left: 3px;
          border: 3px solid black;
          border-top: none;
          border-right: none;
          background: transparent;
          @include opacity( 0.3 );
          @include transform( rotate(-45deg) );
      }
      &:hover::after {
          @include opacity( 1 );
      }
  }
  input[type=checkbox] {
      visibility: hidden;

      &:checked + label:after {
          @include opacity( 1 );
      }

  }
}
.article__read-unread--label-content {
    display: none;
}
.article__content {
    display: none;
    margin: 0 auto;
    width: 42.8125em; // font: 16px / width: 685px (http://www.pearsonified.com/typography/)
    line-height: 1.625em; // font: 16px / line-height: 26px (http://www.pearsonified.com/typography/) 

    @media($breakpoint) {
        width: auto;
    }
    
    a:hover,
    a:active {
        text-decoration: underline;
    }

    .article__content--website & {
        width: auto;

        iframe {
            width: 100%;
        }
    }
}

.article__content--is-opened {
    display: block;
}

.article__content__infos {
    margin: 1em 0;

    a {
        font-size: 0.9em;
        line-height: 1.2em;
    }
}
// [todo] - Do a better style
.article__content__switch-view {
    display: none;
    position: absolute;
    right: 8em;
    top: 0.4em;
    z-index: 20;

    @media($breakpoint) {
        top: 2.4em;
        right: 0.2em;
    }

    .feed__entry--focus & {
        display: inherit;
    }
}

/* USER SETTINGS */
.settings {
    margin: 1em auto;
    padding: 0 1em;
    @extend %sidebar-padding-side;
    color: #CACACA;
    text-align: center;
    white-space: normal;
}

.settings-item {
    padding: 0.5em 1.5em;
    vertical-align: middle;
    line-height: 2.6em;
    border-bottom: $border-base;
    @include transition(border 0.2s ease-in-out 0s);

    &:hover,
    &:active,
    &:focus {
        border-color: $border-color-active;
    }
}

.settings__fields input[type='text'],
.settings__fields input[type='password'] {
    min-width: 7em;
    width: 35%;
}
.settings__fields input[type='text'],
.settings__fields input[type='password'],
.settings__fields input[type='submit'] {
    display: block;
    margin: 0.4em auto;
    padding: 0.5em;
    color: $sidebar-color-bg-darken;
}

/* MEDIA QUERIES */
@media($breakpoint) {
    td {
        display: block;
    }
}

.mobile-only {
    display: none;

    @media($breakpoint) {
        display: inline;
    }
}

/* IE9- */
.no-flexboxlegacy body {
    display: block;
}

.no-flexboxlegacy .wrapper {
    margin-left: 20%;
}

.no-flexboxlegacy .sidebar {
    float: left;
    width: 20%;
}
.no-boxshadow .article__read-unread--label-content {
    display: inline;
    padding: 3px;
    color: #222;
    border: 1px solid #222;
}
/* IE7 */
.no-flexboxlegacy.no-boxsizing .sidebar {
    width: 19%;
}
